@font-face {
  font-family: "myFont";
  src: url("CW_BITMP.TTF") format('truetype');
}

body {
  margin: 0;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url(../images/background-image.jpg) no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  width: 600px;
  background-image: url(../images/8.png);
  opacity: 0.9;
  border: 1px solid grey;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

h1.title {
  text-transform: uppercase;
  font-family: 'myFont', sans-serif;
  text-align: center;
  margin-top: 0;
  color: gold;
}

.sidebar {
  padding: 20px 20px 40px 20px;
  margin-right: 20px;
  background-color: rgba(102, 51, 0, 0.9);
  outline: 2px solid gold;
  outline-offset: -4px;
}

.sidebar .info {
  margin: 20px 0;
  text-transform: uppercase;
  font-family: 'myFont', sans-serif;
  color: white;
  width: 100%;
  text-align: left;
}

.sidebar .player th, .sidebar .score th {
  background-color: transparent !important;
  font-weight: bold;
}

.sidebar .player td, .sidebar .score td {
  background-color: transparent !important;
  text-align: right;
}

.sidebar p {
  font-family: 'myFont', sans-serif;
  color: white;
}

.water-button {
  display: block;
  margin: 40px auto 0;
  padding: 10px 20px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-family: 'myFont', sans-serif;
  text-transform: uppercase;
  background-color: rgba(0, 128, 255, 1);
  color: white;
}

.water-button:hover {
  outline: 2px solid gold;
  outline-offset: -4px;
  color: gold;
}

.extras button {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 20px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-family: 'myFont', sans-serif;
  text-transform: uppercase;
  background-color: slategray;
  color: white;
}

.extras button:hover {
  outline: 2px solid gold;
  outline-offset: -4px;
  color: gold;
}

.win strong {
  background-color: transparent !important;
}

.square {
  min-height: 50px;
  min-width: 50px;
  display: inline-block;
  opacity: 0.9;
  border: 1px solid grey;
  background-size: cover;
  cursor: url(../images/2.png), auto;
}

.square:hover {
  outline: 2px solid gold;
  outline-offset: -4px;
}

.square.weeds {
  background-image: url(../images/7.png);
  cursor: url(../images/4.png), auto;
  background-color: rgba(102, 51, 0, 0.8);
}

.plant {
  background-image: url(../images/1.png);
  background-size: cover;
}

.water:hover, .water:hover+.water, .water:hover+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water, .water:hover+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water {
  cursor: url(../images/3.png), auto;
  background-color: rgba(0, 0, 255, 0.8);
  outline: 2px solid gold;
  outline-offset: -4px;
}

.one {
  background-color: rgba(0, 128, 255, 0.3);
  color: rgba(0, 128, 255, 1);
}

.one-planted {
  background-image: url(../images/12.png);
  background-color: rgba(0, 128, 255, 0.8);
}

.two-planted {
  background-image: url(../images/12.png);
  background-color: rgba(255, 51, 51, 0.8);
}

.two {
  background-color: rgba(255, 51, 51, 0.3);
  color: rgba(255, 51, 51, 1);
}

/***************************
MODAL BOX css
*************************/

#modal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

#modal-textbox {
  text-transform: uppercase;
  background-color: rgba(102, 51, 0, 0.9);
  outline: 2px solid gold;
  outline-offset: -4px;
  width: 550px;
  color: white;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  font-family: "myFont", serif;
  text-align: center;
}

.modal-buttons {
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: gold;
  font-family: 'myFont';
  cursor: pointer;
}

.odal-buttons:hover {
  outline: 2px solid white;
  outline-offset: -4px;
  color: white;
}

#modal-footer {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column-reverse;
  }
  .sidebar {
    min-width: 200px;
    padding: 20px;
    margin: 20px 0 0 0;
  }
  .sidebar .info {
    margin: 0;
  }
  .sidebar h1 {
    display: none;
  }
}
