.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin: auto;
  max-width: 600px;
  background-image: url(../images/8.png);
  opacity: 0.9;
}

.sidebar {
  position: absolute;
  left: 10%;
  top: 10%;
}

.sidebar h2 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  ;
}

.square {
  min-height: 50px;
  min-width: 50px;
  display: inline-block;
  opacity: 0.9;
  border: 1px solid grey;
  background-size: cover;
  cursor: url(../images/2.png), auto;
}

.square:hover {
  outline: 2px solid gold;
  outline-offset: -4px;
}

.square.weeds {
  background-image: url(../images/6.png);
  cursor: url(../images/4.png), auto;
  background-color: rgba(102, 51, 0, 0.8);
}

.plant {
  background-image: url(../images/1.png);
  background-size: cover;
}

.water:hover, .water:hover+.water, .water:hover+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water, .water:hover+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water+.water {
  cursor: url(../images/3.png), auto;
  background-color: rgba(0, 0, 255, 0.8);
  outline: 2px solid gold;
  outline-offset: -4px;
}

.one {
  background-color: rgba(0, 128, 255, 0.3);
}

.one-planted {
  background-image: url(../images/12.png);
  background-color: rgba(0, 128, 255, 0.8);
}

.two-planted {
  background-image: url(../images/12.png);
  background-color: rgba(255, 51, 51, 0.8);
}

.two {
  background-color: rgba(255, 51, 51, 0.3);
}
