.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin: auto;
  max-width: 600px;
}

.square {
  min-height: 50px;
  min-width: 50px;
  display: inline-block;
  background-color: ivory;
  border: 1px solid grey;
}

.square.weeds {
  background-color: darkgreen;
}
